<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
<servlet-name>ShowListServlet</servlet-name>
<servlet-class>test.ShowListServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ShowListServlet</servlet-name>
<url-pattern>/view</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteServlet</servlet-name>
<servlet-class>test.DeleteServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteServlet</servlet-name>
<url-pattern>/delete</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateServlet</servlet-name>
<servlet-class>test.UpdateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateServlet</servlet-name>
<url-pattern>/update</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>NewServlet</servlet-name>
<servlet-class>test.NewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>NewServlet</servlet-name>
<url-pattern>/new</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Exam</servlet-name>
<servlet-class>test.Exam</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Exam</servlet-name>
<url-pattern>/exam</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>home.html</welcome-file>
</welcome-file-list>
</web-app>